# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
**/*.iml
.idea
# Python pre-compiled files
**/__pycache__/
**/*.pkl
dublinbikes/common/config.txt